{% extends 'base.html.twig' %}

{% block title %}Big Ben Admin Page{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{asset('/css/admin.css')}}">
    <link rel="stylesheet" href="{{asset('/node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
{% endblock %}

{% block script %}
    <script src="{{asset('/node_modules/bootstrap/dist/js/bootstrap.min.js')}}" defer></script>
    <script src="{{asset('/script/menu.js')}}" defer></script>
{% endblock %}

{% block nav %}

    <div class="dropdown-container">
        <a href="{{path('adminhome')}}" class="dropdown-link">Admin</a>
        <div class="dropdown-content">
            <a href="{{path('adminproject')}}">Ajouter un projet</a>
            <a href="">Modifier mon CV</a>
        </div>
    </div>

{% endblock %}


{% block main %}

    <main>
        <div class="instructions">
            <h1>Admin Page</h1>
            <h2>Be careful !</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, aperiam dolores minus nobis omnis commodi, excepturi alias, placeat voluptatem molestias eaque nihil. Est nesciunt molestiae doloremque nihil? Aliquam quidem quod voluptates alias tempora. Perspiciatis optio sed, quo minima architecto rem iusto ad reiciendis corrupti voluptate natus? Animi laboriosam nobis quisquam aut autem, natus, repellendus culpa perspiciatis impedit cum, aliquid ea et qui iste minus unde dolore aliquam! Culpa cumque placeat necessitatibus obcaecati quia cupiditate mollitia, inventore iure sint officiis consequatur fugiat commodi odio sequi autem eveniet deleniti. Asperiores ratione illum rem eveniet dicta molestiae repudiandae dolore incidunt velit, voluptate error fugit laboriosam recusandae minima! Perspiciatis fugiat quibusdam placeat dignissimos ad. Ab quaerat eos laudantium, illum aliquid rerum illo expedita doloremque? Ad nam modi debitis beatae molestiae laborum saepe cupiditate placeat architecto culpa expedita libero odit optio suscipit totam provident, dicta blanditiis? Delectus reprehenderit quas dolorum obcaecati? Obcaecati, quaerat. Reiciendis provident veniam ad impedit rerum, aliquam eaque, expedita doloremque, modi pariatur accusamus! Error, itaque saepe voluptatem, nesciunt et ipsum iusto modi quasi eos impedit repudiandae? Qui mollitia natus perferendis sapiente ab! Placeat, maxime odio reprehenderit mollitia molestias doloribus eos animi esse iusto, natus voluptate. In quaerat mollitia, minus eaque voluptates fugiat?</p>
        </div>
    </main>

{% endblock %}

