{% extends "base.html.twig" %}
{% form_theme form "bootstrap_5_layout.html.twig" %}

{% block link %}
    <link rel="stylesheet" href="{{asset('/css/admin.css')}}">
    <link rel="stylesheet" href="{{asset('/node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
{% endblock %}

{% block script %}
    <script src="{{asset('/node_modules/bootstrap/dist/js/bootstrap.min.js')}}" defer></script>
{% endblock %}

{% block main %}

    <div class="container">
        {{ form_start(form) }}
                <div class="mb-3">
                    <div class="form-label">
                        {{ form_row(form.name, { 'label' : 'Nom du projet'})  }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-label">
                        {{ form_row(form.description, { 'label' : 'Description du projet'})  }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-label">
                        {{ form_row(form.url, { 'label' : 'URL'})  }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-label">
                        {{ form_row(form.picture, { 'label' : 'Choisir une image'})  }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        {{ form_end(form) }}
    </div>

{% endblock %}