{% extends "base.html.twig" %}
{% form_theme form "bootstrap_5_layout.html.twig" %}

{% block link %}
    <link rel="stylesheet" href="{{asset('/css/admin.css')}}">
    <link rel="stylesheet" href="{{asset('/node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
{% endblock %}

{% block script %}
    <script src="{{asset('/node_modules/bootstrap/dist/js/bootstrap.min.js')}}" defer></script>
    <script src="{{asset('/script/menu.js')}}" defer></script>
{% endblock %}

{% block nav %}

    <div class="dropdown-container">
        <a href="{{path('adminhome')}}" class="dropdown-link">Admin</a>
        <div class="dropdown-content">
            <a href="{{path('adminproject')}}">Ajouter un projet</a>
            <a href="">Modifier mon CV</a>
        </div>
    </div>

{% endblock %}

{% block main %}

    <main>
        <div class="container">
            {{ form_start(form) }}
                    <div class="mb-3">
                        <div class="form-label">
                            {{ form_row(form.name, { 'label' : 'Nom du projet'})  }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-label">
                            {{ form_row(form.description, { 'label' : 'Description du projet'})  }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-label">
                            {{ form_row(form.url, { 'label' : 'URL'})  }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-label">
                            {{ form_row(form.picture, { 'label' : 'Choisir une image'})  }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        </div>

        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projectList %}

                        <tr>
                            <td>{{ project.name }}</td>
                            <td>{{ project.description }}</td>
                            <td><a href="{{ path('updateproject', {id: project.id}) }}">Update</a></td>
                            <td><a href="{{ path('deleteproject', {id: project.id}) }}">Delete</a></td>
                        </tr>
                        
                    {% endfor %}

                </tbody>
            </table>
        </div>

    </main>

{% endblock %}